@font-face {
  font-family: 'Jheronimus';
  src: url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot");
  src: local("Jheronimus ExtraBold"), local("Jheronimus-ExtraBold"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff2") format("woff2"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff") format("woff"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Norms';
  src: url("../fonts/Norms/TTNormsPro-Regular.eot");
  src: local("TT Norms Pro Regular"), local("TTNormsPro-Regular"), url("../fonts/Norms/TTNormsPro-Regular.eot") format("embedded-opentype"), url("../fonts/Norms/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/Norms/TTNormsPro-Regular.woff") format("woff"), url("../fonts/Norms/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

.wrapper {
  font-family: 'norms';
}

.jheronimus {
  font-family: 'Jheronimus';
}

.norms {
  font-family: 'norms';
}
