@font-face {
  font-family: "Jheronimus";
  src: url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot");
  src: local("Jheronimus ExtraBold"), local("Jheronimus-ExtraBold"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff2") format("woff2"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff") format("woff"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Norms";
  src: url("../fonts/Norms/TTNormsPro-Regular.eot");
  src: local("TT Norms Pro Regular"), local("TTNormsPro-Regular"), url("../fonts/Norms/TTNormsPro-Regular.eot") format("embedded-opentype"), url("../fonts/Norms/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/Norms/TTNormsPro-Regular.woff") format("woff"), url("../fonts/Norms/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

body {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  font-family: "norms";
}

.header__school {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 50px;
}

.header__school:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.small-container {
  max-width: 1350px;
  margin: 0 auto;
}

.header__school-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}

.header__school-mobile-phone {
  position: relative;
  z-index: 51;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  -webkit-transition: all 0.4 ease 0s;
  transition: all 0.4 ease 0s;
}

.header__school-menu-phone {
  display: none;
}

.header__burger-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 15px 0 0;
  position: relative;
  z-index: 3;
}

.header__school-burger {
  padding: 0 20px 0 0;
  position: relative;
  width: 20px;
  height: 14px;
  z-index: 61;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.header__school-burger span {
  position: absolute;
  background-color: #000000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 6px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__school-burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}

.header__school-burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px;
}

.header__school-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__school-burger:before,
.header__school-burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__school-burger:before {
  top: 0;
}

.header__school-burger:after {
  bottom: 0;
}

.header__school-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 3;
  width: 720px;
  overflow-y: auto;
  overflow-x: hidden;
}

.header__school-menu .header__logo {
  position: relative;
  top: 37px;
  left: 318px;
}

.header__school-menu .header__logo img {
  max-width: 282px;
}

.header__school-menu.active {
  left: 0;
}

.bg-for-menu {
  background-color: rgba(0, 0, 0, 0.5);
  width: 130vw;
  height: 130vh;
  position: absolute;
  top: -60px;
  left: -60px;
  z-index: 60;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.close-menu-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-for-menu.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-button {
  position: relative;
  top: 140px;
  left: 318px;
  margin: 0 0 50px 0;
}

.header__school-list {
  position: relative;
  top: 90px;
  left: 318px;
}

.header__school-list li {
  margin: 0 0 24px 0;
}

.header__school-link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 150%;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 297px;
          flex: 0 0 297px;
  padding: 0 0 0 15px;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__school-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
}

.header__school-phone {
  font-family: "Jheronimus";
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 130%;
  padding: 0 15px 0 0;
  position: relative;
  z-index: 2;
}

.unibutton {
  padding: 20px 48px;
  border-radius: 50px;
  color: #fff;
  background: #a22cea;
  background: -webkit-gradient(linear, left top, right top, from(#a22cea), to(#7000ff));
  background: linear-gradient(90deg, #a22cea 0%, #7000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22cea', endColorstr='#7000ff',GradientType=1 );
}

.school-button {
  margin: 0 0 0 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.4 ease 0s;
  transition: all 0.4 ease 0s;
}

.visibility {
  visibility: hidden;
  -webkit-transition: all 0.4 ease 0s;
  transition: all 0.4 ease 0s;
}

.test {
  padding: 150px 0 0 0;
  font-size: 26px;
  text-align: justify;
}

.jheronimus {
  font-family: "Jheronimus";
}

.norms {
  font-family: "norms";
}

@media (max-width: 900px) {
  .header__school-body {
    height: 50px;
  }
  .school-button {
    display: none;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
  .header__burger-logo,
  .header__school-contacts {
    max-width: 250px;
  }
  .header__school-menu {
    width: 500px;
  }
  .header__school-list {
    top: 40px;
    left: 115px;
  }
  .header__school-menu .header__logo {
    top: 4px;
    left: 115px;
  }
  .header__school-menu .header__logo img {
    max-width: 185px;
  }
  .menu-button {
    top: 80px;
    left: 115px;
  }
  .header__school-menu-phone {
    width: 20px;
    position: relative;
    top: -779px;
    left: 430px;
    display: block;
  }
}

@media (max-width: 580px) {
  .header__school-phone {
    display: none;
  }
  .header__school-mobile-phone {
    display: block;
  }
  .header__school-menu-phone {
    left: 360px;
  }
  .header__school {
    padding: 0 20px;
  }
  .header__school-menu {
    width: 400px;
  }
  .header__school-list {
    top: 40px;
    left: 85px;
  }
  .header__school-menu .header__logo {
    top: 4px;
    left: 85px;
  }
  .header__school-menu .header__logo img {
    max-width: 185px;
  }
  .menu-button {
    left: 85px;
  }
}

@media (max-width: 480px) {
  .header__school-menu {
    width: 320px;
  }
  .header__school-menu .header__logo {
    left: 65px;
  }
  .header__school-list {
    left: 65px;
  }
  .menu-button {
    left: 65px;
  }
  .header__school-menu-phone {
    top: -899px;
    left: 280px;
  }
  .header__school-list li {
    width: 230px;
  }
}
