@font-face {
  font-family: "Jheronimus";
  src: url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot");
  src: local("Jheronimus ExtraBold"), local("Jheronimus-ExtraBold"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot") format("embedded-opentype"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff2") format("woff2"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff") format("woff"), url("../fonts/Jheronimus/Jheronimus-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Norms";
  src: url("../fonts/Norms/TTNormsPro-Regular.eot");
  src: local("TT Norms Pro Regular"), local("TTNormsPro-Regular"), url("../fonts/Norms/TTNormsPro-Regular.eot") format("embedded-opentype"), url("../fonts/Norms/TTNormsPro-Regular.woff2") format("woff2"), url("../fonts/Norms/TTNormsPro-Regular.woff") format("woff"), url("../fonts/Norms/TTNormsPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Norms";
  src: url("TTNormsPro-Bold.eot");
  src: local("TT Norms Pro Bold"), local("TTNormsPro-Bold"), url("../fonts/Norms/TTNormsPro-Bold.eot") format("embedded-opentype"), url("../fonts/Norms/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/Norms/TTNormsPro-Bold.woff") format("woff"), url("../fonts/Norms/TTNormsPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Norms";
  src: url("TTNormsPro-Medium.eot");
  src: local("TT Norms Pro Medium"), local("TTNormsPro-Medium"), url("../fonts/Norms/TTNormsPro-Medium.eot") format("embedded-opentype"), url("../fonts/Norms/TTNormsPro-Medium.woff2") format("woff2"), url("../fonts/Norms/TTNormsPro-Medium.woff") format("woff"), url("../fonts/Norms/TTNormsPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

body {
  overflow-x: hidden;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  font-family: "norms";
  min-height: 100vh;
}

.header__school {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 50px;
}

.header__school:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 2;
}

.small-container {
  max-width: 1308px;
  margin: 0 auto;
}

.header__school-body {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
}

.header__school-mobile-phone {
  position: relative;
  z-index: 51;
  width: 20px;
  height: 20px;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  -webkit-transition: all 0.4 ease 0s;
  transition: all 0.4 ease 0s;
}

.header__school-menu-phone {
  display: none;
}

.header__burger-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 15px 0 0;
  position: relative;
  z-index: 3;
}

.header__school-burger {
  padding: 0 20px 0 0;
  position: relative;
  width: 20px;
  height: 14px;
  z-index: 61;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.header__school-burger span {
  position: absolute;
  background-color: #000000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 6px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__school-burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6px;
}

.header__school-burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6px;
}

.header__school-burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__school-burger:before,
.header__school-burger:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__school-burger:before {
  top: 0;
}

.header__school-burger:after {
  bottom: 0;
}

.header__school-menu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  z-index: 3;
  width: 720px;
  overflow-y: auto;
  overflow-x: hidden;
}

.header__school-menu .header__logo {
  position: relative;
  top: 37px;
  left: 318px;
}

.header__school-menu .header__logo img {
  max-width: 282px;
}

.header__school-menu.active {
  left: 0;
}

.bg-for-menu {
  background-color: rgba(0, 0, 0, 0.5);
  width: 130vw;
  height: 130vh;
  position: absolute;
  top: -60px;
  left: -60px;
  z-index: 60;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.close-menu-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-for-menu.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-button {
  position: relative;
  top: 140px;
  left: 318px;
  margin: 0 0 30px 0;
}

.header__school-list {
  position: relative;
  top: 90px;
  left: 318px;
}

.header__school-list li {
  margin: 0 0 24px 0;
}

.header__school-link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 150%;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 297px;
          flex: 0 0 297px;
  padding: 0 0 0 15px;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__school-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
}

.header__school-phone {
  font-family: "Jheronimus";
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 130%;
  padding: 0 15px 0 0;
  position: relative;
  z-index: 2;
}

.unibutton {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 18px;
  line-height: 130%;
  font-family: "Norms";
  font-weight: bold;
  padding: 20px 48px;
  border-radius: 50px;
  color: #fff;
  background: #a22cea;
  background: -webkit-gradient(linear, left top, right top, from(#a22cea), to(#7000ff));
  background: linear-gradient(90deg, #a22cea 0%, #7000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22cea', endColorstr='#7000ff',GradientType=1 );
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #a22cea, #7000ff);
  background-size: 400% 400%;
}

.unibutton:hover {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #a22cea;
  background: -webkit-gradient(linear, left top, right top, from(#a22cea), to(#7000ff));
  background: linear-gradient(90deg, #a22cea 0%, #7000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a22cea', endColorstr='#7000ff',GradientType=1 );
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.school-button {
  margin: 0 0 0 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.4 ease 0s;
  transition: all 0.4 ease 0s;
}

.visibility {
  visibility: hidden;
  -webkit-transition: all 0.4 ease 0s;
  transition: all 0.4 ease 0s;
}

@media (max-width: 934px) {
  .school-button {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .header__school-body {
    height: 50px;
  }
  .school-button {
    display: none;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
  .header__burger-logo,
  .header__school-contacts {
    max-width: 250px;
  }
  .header__school-menu {
    width: 500px;
  }
  .header__school-list {
    top: 40px;
    left: 115px;
  }
  .header__school-menu .header__logo {
    top: 4px;
    left: 115px;
  }
  .header__school-menu .header__logo img {
    max-width: 185px;
  }
  .menu-button {
    top: 80px;
    left: 115px;
  }
  .header__school-menu-phone {
    width: 20px;
    position: relative;
    top: -769px;
    left: 430px;
    display: block;
  }
}

@media (max-width: 580px) {
  .header__school-phone {
    display: none;
  }
  .header__school-mobile-phone {
    display: block;
  }
  .header__school-menu-phone {
    left: 360px;
  }
  .header__school {
    padding: 0 20px;
  }
  .header__school-menu {
    width: 400px;
  }
  .header__school-list {
    top: 40px;
    left: 85px;
  }
  .header__school-menu .header__logo {
    top: 4px;
    left: 85px;
  }
  .header__school-menu .header__logo img {
    max-width: 185px;
  }
  .menu-button {
    left: 85px;
  }
}

@media (max-width: 480px) {
  .header__school-menu {
    width: 320px;
  }
  .header__school-menu .header__logo {
    left: 65px;
  }
  .header__school-list {
    left: 65px;
  }
  .menu-button {
    left: 65px;
  }
  .menu-button a {
    padding: 20px 30px;
  }
  .header__school-menu-phone {
    top: -889px;
    left: 280px;
  }
  .header__school-list li {
    width: 230px;
  }
}

.big-container {
  margin: 0 auto;
  max-width: 1600px;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 80px 0 0 0;
}

.fullscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.fullscreen__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 200px 0 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.fullscreen__label {
  font-family: "Jheronimus";
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #32c82f;
  margin: 0 0 34px 0;
}

.fullscreen__label span {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 10px rgba(47, 163, 200, 0.2);
          box-shadow: 0px 4px 10px rgba(47, 163, 200, 0.2);
  border-radius: 50px;
  padding: 10px 30px;
}

.fullscreen__label:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #32c82f;
  position: relative;
  top: -17px;
  left: -25px;
  display: inline-block;
}

.fullscreen__title {
  max-width: 450px;
  margin: 0 0 16px 0;
}

.title {
  font-family: "Jheronimus";
  font-size: 32px;
  line-height: 130%;
}

.fullscreen__text {
  max-width: 400px;
  margin: 0 0 48px 0;
}

.text {
  font-family: "Norms";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
}

.fullscreen__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 74px 0;
}

.fullscreen__start-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 50px 0;
}

.start-duration-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.fullscreen__start-text {
  font-size: 18px;
  line-height: 150%;
}

.fullscreen__start-text:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 28px;
  background: url("../img/icons/fullscreen/flags.svg") no-repeat;
  position: relative;
  top: 16px;
  left: 0;
  margin: 0 15px 0 0;
}

.fullscreen__start-date {
  font-family: "Jheronimus";
  font-size: 24px;
  line-height: 170%;
  margin: 0 0 0 80px;
}

.fullscreen__duration {
  margin: 0 0 0 55px;
}

.fullscreen__duration-text {
  font-size: 18px;
  line-height: 150%;
}

.fullscreen__duration-text:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 28px;
  background: url("../img/icons/fullscreen/calendar.svg") no-repeat;
  position: relative;
  top: 16px;
  left: 0;
  margin: 0 15px 0 0;
}

.fullscreen__duration-time {
  font-family: "Jheronimus";
  font-size: 24px;
  line-height: 170%;
  margin: 0 0 0 78px;
}

.fullscreen__training-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 0 0 -20px 0;
  z-index: 0;
}

.training-projects-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fixed-label-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fullscreen__fixed-label {
  position: absolute;
  font-family: "Norms";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 30px rgba(45, 75, 85, 0.2);
          box-shadow: 0px 10px 30px rgba(45, 75, 85, 0.2);
  border-radius: 50px;
  padding: 14px 30px;
  top: 51%;
  left: 50%;
  -webkit-transform: translate(-63%);
          transform: translate(-63%);
}

.fullscreen__info-image-1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 -50px;
}

.fullscreen__info-image-2 {
  margin: 0 0 0 -358px;
}

.fullscreen__image {
  margin: 0 20px 0 0;
}

.fullscreen__image img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1366px) {
  .fullscreen__training-projects:hover {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

@media (max-width: 1365px) {
  .fullscreen__training-projects {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

@media (max-width: 1300px) {
  .fullscreen__fixed-label {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .fullscreen {
    padding: 0;
  }
  .fullscreen__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .fullscreen__info {
    max-width: 400px;
  }
  .fullscreen__start-date,
  .fullscreen__duration-time {
    font-size: 20px;
    line-height: 130%;
  }
  .fullscreen__fixed-label {
    min-width: 250px;
    left: 67%;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 28px;
  }
  .text {
    font-size: 18px;
  }
  .fullscreen__info {
    max-width: 300px;
  }
  .fullscreen__start-duration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fullscreen__duration {
    margin: 0;
  }
  .fullscreen__button {
    margin: 0 0 30px 0;
  }
  .fullscreen__fixed-label {
    left: 90%;
  }
  .fullscreen__info {
    margin: 150px 0 0 20px;
  }
}

@media (max-width: 900px) {
  .fullscreen__info {
    margin: 100px 0 0 20px;
  }
  .fullscreen__image {
    margin: 100px 0 0 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 580px) {
  .fullscreen__image {
    display: none;
  }
  .fullscreen__info {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 100px 20px 0 20px;
  }
  .fullscreen__fixed-label {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .fullscreen__info-image-1 {
    display: none;
  }
  .fullscreen__info-image-2 {
    margin: 0;
  }
  .fullscreen__info-image-2 img {
    max-width: 100%;
    height: auto;
  }
  .fullscreen__training-projects {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .fullscreen__info-image-2 {
    display: none;
  }
  .fullscreen__label {
    margin: 0 0 25px 0;
  }
  .fullscreen__text {
    margin: 0 0 30px 0;
  }
  .fullscreen__training-projects {
    margin: 0;
  }
  .fullscreen__training-projects:hover {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  .fullscreen__training-projects:hover {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .fullscreen__start-duration {
    margin: 0 0 40px 0;
  }
  .test {
    margin-top: 100px;
  }
}

.forwho {
  background: #f8f8f8;
  border-radius: 50px;
  min-height: 600px;
  position: relative;
  z-index: 1;
}

.forwho__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forwho__image {
  padding: 60px 20px 0px 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 734px;
          flex: 0 1 734px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: url("../img/img/forwho/bg.svg") bottom center/contain no-repeat;
}

.forwho__image img {
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  bottom: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1281px) {
  .forwho__image:hover {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: url("../img/img/forwho/bg.svg") 0 30px no-repeat;
  }
  .forwho__image:hover img {
    left: 10px;
    bottom: 13px;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.forwho__info {
  padding: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 546px;
          flex: 0 1 546px;
}

.forwho__title {
  margin: 0 0 16px 0;
}

.forwho__icon-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 62px 0;
}

.forwho__text {
  margin: 0 0 0 18px;
}

.forwho__text p:first-child {
  margin: 0 0 30px 0;
}

.transparent-button {
  font-family: "Norms";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #000;
  padding: 14px 32px;
  border-radius: 50px;
  border: 1px solid #7101FF;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: inline-block;
}

.transparent-button:hover {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #7101FF;
  color: #fff;
}

@media (max-width: 1080px) {
  .forwho {
    min-height: 100%;
  }
  .forwho__image {
    padding: 60px 20px 0px 20px;
  }
  .transparent-button {
    font-size: 14px;
  }
  .forwho__transparent-button {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .forwho__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .forwho__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .forwho__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    position: relative;
    top: 0;
    left: 0;
  }
  .forwho__image img {
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 650px) {
  .forwho__image {
    display: none;
  }
  .forwho__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .forwho__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .forwho__transparent-button {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .forwho {
    margin-top: 50px;
  }
}

@media (max-width: 360px) {
  .forwho__transparent-button {
    padding: 20px 10px;
  }
}
