@font-face {
	font-family: "Jheronimus";
	src: url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot");
	src: local("Jheronimus ExtraBold"), local("Jheronimus-ExtraBold"),
		url("../fonts/Jheronimus/Jheronimus-ExtraBold.eot") format("embedded-opentype"),
		url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff2") format("woff2"),
		url("../fonts/Jheronimus/Jheronimus-ExtraBold.woff") format("woff"),
		url("../fonts/Jheronimus/Jheronimus-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Norms";
	src: url("../fonts/Norms/TTNormsPro-Regular.eot");
	src: local("TT Norms Pro Regular"), local("TTNormsPro-Regular"),
		url("../fonts/Norms/TTNormsPro-Regular.eot") format("embedded-opentype"),
		url("../fonts/Norms/TTNormsPro-Regular.woff2") format("woff2"),
		url("../fonts/Norms/TTNormsPro-Regular.woff") format("woff"),
		url("../fonts/Norms/TTNormsPro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@import "_nullstyle";

.wrapper {
	font-family: "norms";
}
.header__school {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	padding: 0 50px;
}
.header__school:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	box-shadow: 0px 9px 45px rgba(0, 0, 0, 0.1);
}
.small-container {
	max-width: 1350px;
	margin: 0 auto;
}
.header__school-body {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 125px;
}
.header__burger-logo {
	display: flex;
	max-width: 550px;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
}
.header__school-burger {
	border: 1px solid lightcoral;
}
.header__school-menu {
	display: none;
}
.header__school-list {
}
.header__school-link {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	line-height: 150%;
}
.header__logo {
}
.header__school-contacts {
	display: flex;
	max-width: 550px;
	justify-content: space-between;
	flex: 1 1 auto;
	align-items: center;
}
.header__school-phone {
	font-family: "Jheronimus";
	color: #000;
	text-decoration: none;
	font-size: 20px;
	line-height: 130%;
}
.school-button {
	padding: 20px 48px;
	background: linear-gradient(90deg, #a22cea 0%, #7000ff 100%);
	border-radius: 50px;
	color: #fff;
	background-color: #a22cea;
@include filter-gradient(#a22cea, #7000ff, horizontal);
@include background-image(linear-gradient(90deg, #a22cea 0%,#7000ff 100%));

}
.test {
	font-size: 26px;
}
.jheronimus {
	font-family: "Jheronimus";
}
.norms {
	font-family: "norms";
}
